# PART1 판다스 입문

## 1. 데이터과학자가 판다스를 배우는 이유
- 데이터과학은 데이터를 연구하는 분야이고, 데이터 자체가 가장 중요한 자원
- 실제로 데이터 분석 업무의 80~90%는 데이터를 수집하고 정리하는 일이다.
- 나머지 10~20%는 알고리즘을 선택하고, 모델링 결과를 분석하여 데이터로부터 유용한 정보(information)를 뽑아내는 분석 프로세스의 몫
- 데이터과학자가 하는 가장 기초적이고 중요한 일은 데이터를 수집하고 분석이 가능한 형태로 정리하는 것

## 2. 판다스 자료구조

### 2-1) 시리즈
- 데이터가 순차적으로 나열된 1차원 배열의 형태
- 인덱스는 데이터 값과 일대일 대응이 된다.
- 이런 관점에서 키와 값이 '{k:v}' 형태로 짝을 이루는 파이썬 딕셔너리와 비슷한 구조를 갖는다.
- 딕셔너리 → 시리즈 변환: `pandas.Series( 딕셔너리 )`

In [1]:
import pandas as pd

# key:vlaue 쌍으로 딕셔너리를 만들고, 변수 dict_data에 저장
dict_data = {'a': 1, 'b': 2, 'c': 3}

# 판다스 Series() 함수로 dictionary를 Series로 변환, 변수 sr에 저장
sr = pd.Series(dict_data)

# sr의 자료형 출력
type(sr)

pandas.core.series.Series

In [2]:
sr

a    1
b    2
c    3
dtype: int64

---

### 🧐 `rename()` 메서드
- 행 인덱스 또는 열 이름의 일부를 선택하여 변경 할 수 있다.
- 원본 객체를 직접 수정하는 것이 아니라 새로운 데이터프레임 객체를 반환한다.
- 원본 객체를 수정하려면 `inplace=True` 옵션을 사용

In [4]:
import pandas as pd

# 행 인덱스/열 이름 지정하여, 데이터프레임 만들기
df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']], 
                   index=['준서', '예은'],
                   columns=['나이', '성별', '학교'])

# 데이터프레임 df 출력
df

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

In [5]:
# 열 이름 중, '나이'를 '연령'으로, '성별'을 '남녀'로, '학교'를 '소속'으로 바꾸기
df.rename(columns={'나이':'연령', '성별':'남녀', '학교':'소속'}, inplace=True)

# df의 행 인덱스 중에서, '준서'를 '학생1'로, '예은'을 '학생2'로 바꾸기
df.rename(index={'준서':'학생1', '예은':'학생2' }, inplace=True)

# df 출력(변경 후)
df

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

---

### 🧐 `drop()` 메서드
- 데이터프레임의 행 또는 열을 삭제하는 명령
- 행을 삭제할 때는 축(axis) 옵션을 `axis=0` 입력하거나, 별도로 입력하지 않는다.
- 열을 삭제할 때는 축(axis) 옵션을 `axis=1` 입력한다.
- 동시에 여러 개의 행 또는 열을 삭제하려면 리스트 형태로 입력
- 기존 객체를 변경하지 않고 새로운 객체를 반환한다.
- 원본 객체를 직접 변경하려면 `inplace=True` 옵션 추가

In [6]:
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'수학' : [ 90, 80, 70], '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100], '체육' : [ 100, 90, 90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
df

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [7]:
# 데이터프레임 df를 복제하여 변수 df2에 저장. df2의 1개 행(row)을 삭제
df2 = df[:]
df2.drop('우현', inplace=True)
df2

C:\Users\cch\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

In [8]:
# 데이터프레임 df를 복제하여 변수 df3에 저장. df3의 2개 행(row)을 삭제
df3 = df[:]
df3.drop(['우현', '인아'], axis=0, inplace=True)
df3

C:\Users\cch\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

    수학  영어  음악   체육
서준  90  98  85  100

---

### 🧐 `loc`와 `iloc`
- 데이터프레임의 행 데이터를 선택
- 인덱스 이름을 기준으로 행을 선택할 때는 `loc`
- 정수형 위치 인덱스를 기준으로 행을 선택할 때는 `iloc`

In [9]:
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'수학' : [ 90, 80, 70], '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100], '체육' : [ 100, 90, 90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
df       # 데이터프레임 출력

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [11]:
# 행 인덱스를 사용하여 행 1개를 선택
label1 = df.loc['서준']    # loc 인덱서 활용
position1 = df.iloc[0]     # iloc 인덱서 활용

label1, position1

(수학     90
 영어     98
 음악     85
 체육    100
 Name: 서준, dtype: int64,
 수학     90
 영어     98
 음악     85
 체육    100
 Name: 서준, dtype: int64)

In [12]:
# 행 인덱스를 사용하여 2개 이상의 행 선택
label2 = df.loc[['서준', '우현']]
position2 = df.iloc[[0, 1]]

label2, position2

(    수학  영어  음악   체육
 서준  90  98  85  100
 우현  80  89  95   90,
     수학  영어  음악   체육
 서준  90  98  85  100
 우현  80  89  95   90)

In [13]:
# 행 인덱스의 범위를 지정하여 행 선택
label3 = df.loc['서준':'우현']
position3 = df.iloc[0:1]

label3, position3

(    수학  영어  음악   체육
 서준  90  98  85  100
 우현  80  89  95   90,
     수학  영어  음악   체육
 서준  90  98  85  100)