# PART1 íŒë‹¤ìŠ¤ ì…ë¬¸

## 1. ë°ì´í„°ê³¼í•™ìê°€ íŒë‹¤ìŠ¤ë¥¼ ë°°ìš°ëŠ” ì´ìœ 
- ë°ì´í„°ê³¼í•™ì€ ë°ì´í„°ë¥¼ ì—°êµ¬í•˜ëŠ” ë¶„ì•¼ì´ê³ , ë°ì´í„° ìì²´ê°€ ê°€ì¥ ì¤‘ìš”í•œ ìì›
- ì‹¤ì œë¡œ ë°ì´í„° ë¶„ì„ ì—…ë¬´ì˜ 80~90%ëŠ” ë°ì´í„°ë¥¼ ìˆ˜ì§‘í•˜ê³  ì •ë¦¬í•˜ëŠ” ì¼ì´ë‹¤.
- ë‚˜ë¨¸ì§€ 10~20%ëŠ” ì•Œê³ ë¦¬ì¦˜ì„ ì„ íƒí•˜ê³ , ëª¨ë¸ë§ ê²°ê³¼ë¥¼ ë¶„ì„í•˜ì—¬ ë°ì´í„°ë¡œë¶€í„° ìœ ìš©í•œ ì •ë³´(information)ë¥¼ ë½‘ì•„ë‚´ëŠ” ë¶„ì„ í”„ë¡œì„¸ìŠ¤ì˜ ëª«
- ë°ì´í„°ê³¼í•™ìê°€ í•˜ëŠ” ê°€ì¥ ê¸°ì´ˆì ì´ê³  ì¤‘ìš”í•œ ì¼ì€ ë°ì´í„°ë¥¼ ìˆ˜ì§‘í•˜ê³  ë¶„ì„ì´ ê°€ëŠ¥í•œ í˜•íƒœë¡œ ì •ë¦¬í•˜ëŠ” ê²ƒ

## 2. íŒë‹¤ìŠ¤ ìë£Œêµ¬ì¡°

### 2-1) ì‹œë¦¬ì¦ˆ
- ë°ì´í„°ê°€ ìˆœì°¨ì ìœ¼ë¡œ ë‚˜ì—´ëœ 1ì°¨ì› ë°°ì—´ì˜ í˜•íƒœ
- ì¸ë±ìŠ¤ëŠ” ë°ì´í„° ê°’ê³¼ ì¼ëŒ€ì¼ ëŒ€ì‘ì´ ëœë‹¤.
- ì´ëŸ° ê´€ì ì—ì„œ í‚¤ì™€ ê°’ì´ '{k:v}' í˜•íƒœë¡œ ì§ì„ ì´ë£¨ëŠ” íŒŒì´ì¬ ë”•ì…”ë„ˆë¦¬ì™€ ë¹„ìŠ·í•œ êµ¬ì¡°ë¥¼ ê°–ëŠ”ë‹¤.
- ë”•ì…”ë„ˆë¦¬ â†’ ì‹œë¦¬ì¦ˆ ë³€í™˜: `pandas.Series( ë”•ì…”ë„ˆë¦¬ )`

In [1]:
import pandas as pd

# key:vlaue ìŒìœ¼ë¡œ ë”•ì…”ë„ˆë¦¬ë¥¼ ë§Œë“¤ê³ , ë³€ìˆ˜ dict_dataì— ì €ì¥
dict_data = {'a': 1, 'b': 2, 'c': 3}

# íŒë‹¤ìŠ¤ Series() í•¨ìˆ˜ë¡œ dictionaryë¥¼ Seriesë¡œ ë³€í™˜, ë³€ìˆ˜ srì— ì €ì¥
sr = pd.Series(dict_data)

# srì˜ ìë£Œí˜• ì¶œë ¥
type(sr)

pandas.core.series.Series

In [2]:
sr

a    1
b    2
c    3
dtype: int64

---

### ğŸ§ `rename()` ë©”ì„œë“œ
- í–‰ ì¸ë±ìŠ¤ ë˜ëŠ” ì—´ ì´ë¦„ì˜ ì¼ë¶€ë¥¼ ì„ íƒí•˜ì—¬ ë³€ê²½ í•  ìˆ˜ ìˆë‹¤.
- ì›ë³¸ ê°ì²´ë¥¼ ì§ì ‘ ìˆ˜ì •í•˜ëŠ” ê²ƒì´ ì•„ë‹ˆë¼ ìƒˆë¡œìš´ ë°ì´í„°í”„ë ˆì„ ê°ì²´ë¥¼ ë°˜í™˜í•œë‹¤.
- ì›ë³¸ ê°ì²´ë¥¼ ìˆ˜ì •í•˜ë ¤ë©´ `inplace=True` ì˜µì…˜ì„ ì‚¬ìš©

In [4]:
import pandas as pd

# í–‰ ì¸ë±ìŠ¤/ì—´ ì´ë¦„ ì§€ì •í•˜ì—¬, ë°ì´í„°í”„ë ˆì„ ë§Œë“¤ê¸°
df = pd.DataFrame([[15, 'ë‚¨', 'ë•ì˜ì¤‘'], [17, 'ì—¬', 'ìˆ˜ë¦¬ì¤‘']], 
                   index=['ì¤€ì„œ', 'ì˜ˆì€'],
                   columns=['ë‚˜ì´', 'ì„±ë³„', 'í•™êµ'])

# ë°ì´í„°í”„ë ˆì„ df ì¶œë ¥
df

    ë‚˜ì´ ì„±ë³„   í•™êµ
ì¤€ì„œ  15  ë‚¨  ë•ì˜ì¤‘
ì˜ˆì€  17  ì—¬  ìˆ˜ë¦¬ì¤‘

In [5]:
# ì—´ ì´ë¦„ ì¤‘, 'ë‚˜ì´'ë¥¼ 'ì—°ë ¹'ìœ¼ë¡œ, 'ì„±ë³„'ì„ 'ë‚¨ë…€'ë¡œ, 'í•™êµ'ë¥¼ 'ì†Œì†'ìœ¼ë¡œ ë°”ê¾¸ê¸°
df.rename(columns={'ë‚˜ì´':'ì—°ë ¹', 'ì„±ë³„':'ë‚¨ë…€', 'í•™êµ':'ì†Œì†'}, inplace=True)

# dfì˜ í–‰ ì¸ë±ìŠ¤ ì¤‘ì—ì„œ, 'ì¤€ì„œ'ë¥¼ 'í•™ìƒ1'ë¡œ, 'ì˜ˆì€'ì„ 'í•™ìƒ2'ë¡œ ë°”ê¾¸ê¸°
df.rename(index={'ì¤€ì„œ':'í•™ìƒ1', 'ì˜ˆì€':'í•™ìƒ2' }, inplace=True)

# df ì¶œë ¥(ë³€ê²½ í›„)
df

     ì—°ë ¹ ë‚¨ë…€   ì†Œì†
í•™ìƒ1  15  ë‚¨  ë•ì˜ì¤‘
í•™ìƒ2  17  ì—¬  ìˆ˜ë¦¬ì¤‘

---

### ğŸ§ `drop()` ë©”ì„œë“œ
- ë°ì´í„°í”„ë ˆì„ì˜ í–‰ ë˜ëŠ” ì—´ì„ ì‚­ì œí•˜ëŠ” ëª…ë ¹
- í–‰ì„ ì‚­ì œí•  ë•ŒëŠ” ì¶•(axis) ì˜µì…˜ì„ `axis=0` ì…ë ¥í•˜ê±°ë‚˜, ë³„ë„ë¡œ ì…ë ¥í•˜ì§€ ì•ŠëŠ”ë‹¤.
- ì—´ì„ ì‚­ì œí•  ë•ŒëŠ” ì¶•(axis) ì˜µì…˜ì„ `axis=1` ì…ë ¥í•œë‹¤.
- ë™ì‹œì— ì—¬ëŸ¬ ê°œì˜ í–‰ ë˜ëŠ” ì—´ì„ ì‚­ì œí•˜ë ¤ë©´ ë¦¬ìŠ¤íŠ¸ í˜•íƒœë¡œ ì…ë ¥
- ê¸°ì¡´ ê°ì²´ë¥¼ ë³€ê²½í•˜ì§€ ì•Šê³  ìƒˆë¡œìš´ ê°ì²´ë¥¼ ë°˜í™˜í•œë‹¤.
- ì›ë³¸ ê°ì²´ë¥¼ ì§ì ‘ ë³€ê²½í•˜ë ¤ë©´ `inplace=True` ì˜µì…˜ ì¶”ê°€

In [6]:
import pandas as pd

# DataFrame() í•¨ìˆ˜ë¡œ ë°ì´í„°í”„ë ˆì„ ë³€í™˜. ë³€ìˆ˜ dfì— ì €ì¥ 
exam_data = {'ìˆ˜í•™' : [ 90, 80, 70], 'ì˜ì–´' : [ 98, 89, 95],
             'ìŒì•…' : [ 85, 95, 100], 'ì²´ìœ¡' : [ 100, 90, 90]}

df = pd.DataFrame(exam_data, index=['ì„œì¤€', 'ìš°í˜„', 'ì¸ì•„'])
df

    ìˆ˜í•™  ì˜ì–´   ìŒì•…   ì²´ìœ¡
ì„œì¤€  90  98   85  100
ìš°í˜„  80  89   95   90
ì¸ì•„  70  95  100   90

In [7]:
# ë°ì´í„°í”„ë ˆì„ dfë¥¼ ë³µì œí•˜ì—¬ ë³€ìˆ˜ df2ì— ì €ì¥. df2ì˜ 1ê°œ í–‰(row)ì„ ì‚­ì œ
df2 = df[:]
df2.drop('ìš°í˜„', inplace=True)
df2

C:\Users\cch\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

    ìˆ˜í•™  ì˜ì–´   ìŒì•…   ì²´ìœ¡
ì„œì¤€  90  98   85  100
ì¸ì•„  70  95  100   90

In [8]:
# ë°ì´í„°í”„ë ˆì„ dfë¥¼ ë³µì œí•˜ì—¬ ë³€ìˆ˜ df3ì— ì €ì¥. df3ì˜ 2ê°œ í–‰(row)ì„ ì‚­ì œ
df3 = df[:]
df3.drop(['ìš°í˜„', 'ì¸ì•„'], axis=0, inplace=True)
df3

C:\Users\cch\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

    ìˆ˜í•™  ì˜ì–´  ìŒì•…   ì²´ìœ¡
ì„œì¤€  90  98  85  100

---

### ğŸ§ `loc`ì™€ `iloc`
- ë°ì´í„°í”„ë ˆì„ì˜ í–‰ ë°ì´í„°ë¥¼ ì„ íƒ
- ì¸ë±ìŠ¤ ì´ë¦„ì„ ê¸°ì¤€ìœ¼ë¡œ í–‰ì„ ì„ íƒí•  ë•ŒëŠ” `loc`
- ì •ìˆ˜í˜• ìœ„ì¹˜ ì¸ë±ìŠ¤ë¥¼ ê¸°ì¤€ìœ¼ë¡œ í–‰ì„ ì„ íƒí•  ë•ŒëŠ” `iloc`

In [9]:
import pandas as pd

# DataFrame() í•¨ìˆ˜ë¡œ ë°ì´í„°í”„ë ˆì„ ë³€í™˜. ë³€ìˆ˜ dfì— ì €ì¥ 
exam_data = {'ìˆ˜í•™' : [ 90, 80, 70], 'ì˜ì–´' : [ 98, 89, 95],
             'ìŒì•…' : [ 85, 95, 100], 'ì²´ìœ¡' : [ 100, 90, 90]}

df = pd.DataFrame(exam_data, index=['ì„œì¤€', 'ìš°í˜„', 'ì¸ì•„'])
df       # ë°ì´í„°í”„ë ˆì„ ì¶œë ¥

    ìˆ˜í•™  ì˜ì–´   ìŒì•…   ì²´ìœ¡
ì„œì¤€  90  98   85  100
ìš°í˜„  80  89   95   90
ì¸ì•„  70  95  100   90

In [11]:
# í–‰ ì¸ë±ìŠ¤ë¥¼ ì‚¬ìš©í•˜ì—¬ í–‰ 1ê°œë¥¼ ì„ íƒ
label1 = df.loc['ì„œì¤€']    # loc ì¸ë±ì„œ í™œìš©
position1 = df.iloc[0]     # iloc ì¸ë±ì„œ í™œìš©

label1, position1

(ìˆ˜í•™     90
 ì˜ì–´     98
 ìŒì•…     85
 ì²´ìœ¡    100
 Name: ì„œì¤€, dtype: int64,
 ìˆ˜í•™     90
 ì˜ì–´     98
 ìŒì•…     85
 ì²´ìœ¡    100
 Name: ì„œì¤€, dtype: int64)

In [12]:
# í–‰ ì¸ë±ìŠ¤ë¥¼ ì‚¬ìš©í•˜ì—¬ 2ê°œ ì´ìƒì˜ í–‰ ì„ íƒ
label2 = df.loc[['ì„œì¤€', 'ìš°í˜„']]
position2 = df.iloc[[0, 1]]

label2, position2

(    ìˆ˜í•™  ì˜ì–´  ìŒì•…   ì²´ìœ¡
 ì„œì¤€  90  98  85  100
 ìš°í˜„  80  89  95   90,
     ìˆ˜í•™  ì˜ì–´  ìŒì•…   ì²´ìœ¡
 ì„œì¤€  90  98  85  100
 ìš°í˜„  80  89  95   90)

In [13]:
# í–‰ ì¸ë±ìŠ¤ì˜ ë²”ìœ„ë¥¼ ì§€ì •í•˜ì—¬ í–‰ ì„ íƒ
label3 = df.loc['ì„œì¤€':'ìš°í˜„']
position3 = df.iloc[0:1]

label3, position3

(    ìˆ˜í•™  ì˜ì–´  ìŒì•…   ì²´ìœ¡
 ì„œì¤€  90  98  85  100
 ìš°í˜„  80  89  95   90,
     ìˆ˜í•™  ì˜ì–´  ìŒì•…   ì²´ìœ¡
 ì„œì¤€  90  98  85  100)